{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
  Administrar secciones
{% endblock %}

<!-- incio Bloques para las meta-->
{% block descripcion %}
  Asistencias del Instituto Cultural de Oxford El Salvador
{% endblock %}

{% block palabrasClave %}
  "Oxford el Salvador, Colegio Oxford, Colegios de San Salvador , San Salvador, Asistencias Oxford"
{% endblock %}

{% block agregarMetas %}
  <meta name="robots" content="follow">
  <meta name="robots" content="index">
  <meta name="googlebot" content="index">
  <meta name="google-site-verification" content="ZhnGANpVN1--eBXiXa_0W4_q1pk-_HmJtN5VnrqYaW4" />
{% endblock %}
<!-- fin Bloques para las meta-->

{% block listaRuta %}
<li class="breadcrumb-item">
  <a href="index.html">Inicio</a>
</li>
<li class="breadcrumb-item active">Tiempo</li>
{% endblock %}

{% block contenido %}
  <h1>Administrar Secciones</h1>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form method="POST" id="frmTiempo" action="agregar">
              {% csrf_token %}
              <div class="form-group">
                <label for="horaI">Hora Inicial:</label>
                <input type="time" class="form-control" id="horaI" name="horaI" placeholder="hora Inicial de la sesión" autocomplete="off">
                <br>
                <label for="horaF">Hora Final:</label>
                <input type="time" class="form-control" id="horaF" name="horaF" placeholder="hora Final de la sesión" autocomplete="off">
              </div>
              <button type="submit" class="btn btn-dark float-right">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="scope">#</th>
                  <th class="scope">Hora Inicial</th>
                  <th class="scope">Hora Final</th>
                  <th class="scope">Accion</th>
                </tr>
              </thead>  
              <tbody>
                {% if tiempos %}
                {% for t in tiempos %}
                <tr>
                  <td>{{t.idTiempo}}</td>
                  <td>{{t.horaInicial}}</td>
                  <td>{{t.horaFinal}}</td>
                  <td>
                    {% if t.estado == 'A' %}
                    <button disabled class="btn btn-outline-dark" id="btnEditar" onclick="editTiempo('{{ t.idTiempo }}', '{{ t.horaInicial }}', '{{t.horaFinal}}')" data-toggle="tooltip" data-placement="bottom" title="Editar sección"> <i class="fas fa-edit"></i></button>
                    <button class="btn btn-outline-dark" onclick="elimTiempo('{{ t.idTiempo }}')" data-toggle="tooltip" data-placement="bottom" title="Eliminar sección"> <i class="far fa-trash-alt"></i></button>
                    {% elif t.estado == 'I' %}
                    <button class="btn btn-outline-dark" onclick="habTiempo('{{ t.idTiempo }}')" data-toggle="tooltip" data-placement="bottom" title="Habilitar sección"> <i class="fas fa-trash-restore"></i></button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
            <div class="float-right">
                <form method="POST" id="frmFiltro" class="d-none">
                  {% csrf_token %}
                  <input type="text" id="estado" name="estado">
                </form>  
                <a href="#" onclick="filtrarEstado('A')" class="card-link">Activos</a>
                <a href="#" onclick="filtrarEstado('I')" class="card-link">Inactivos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block agregarScript %}
  <!-- Page level plugin JavaScript-->
  <script src="../../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../static/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Demo scripts for this page-->
  <script src="../../static/js/demo/datatables-demo.js"></script>
  <script src="{% static 'js/tiempo/tiempo.js' %}"></script>
{% endblock %}
