{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
  Buscar observaciones
{% endblock %}

<!-- incio Bloques para las meta-->
{% block descripcion %}
  Observaciones a estudiantes, Instituto Cultural de Oxford, El Salvador
{% endblock %}

{% block palabrasClave %}
  "Oxford el Salvador, Colegio Oxford, Colegios de San Salvador , San Salvador, Asistencias Oxford"
{% endblock %}

{% block agregarMetas %}
  <meta name="robots" content="follow">
  <meta name="robots" content="index">
  <meta name="googlebot" content="index">
  <meta name="google-site-verification" content="ZhnGANpVN1--eBXiXa_0W4_q1pk-_HmJtN5VnrqYaW4" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
{% endblock %}
<!-- fin Bloques para las meta-->

{% block listaRuta %}
<li class="breadcrumb-item">
  <a href="index.html">Inicio</a>
</li>
<li class="breadcrumb-item active">Observaciones</li>
{% endblock %}

{% block contenido %}
    <h1>Buscar Observaciones</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Buscar observaciones</div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="estudiante">Seleccione un estudiante</label>
                        <select class="selectpicker col-sm-12" data-live-search="true" id="estudiante" name="estudiante_id">
                            <option value="0" disabled selected>Seleccione un estudiante</option>
                            {% if estudiantes %}
                            {% for estudiante in estudiantes %}
                            {% if estudianteBuscar and estudianteBuscar.idEstudiante == estudiante.idEstudiante %}
                            <option value="{{ estudiante.idEstudiante }}" selected >{{ estudiante.codigo }} - {{ estudiante.nombre }} {{ estudiante.apellido }}</option>
                            {% else %}
                            <option value="{{ estudiante.idEstudiante }}">{{ estudiante.codigo }} - {{ estudiante.nombre }} {{ estudiante.apellido }}</option>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </select>
                        <br/><br/>
                          <button type="submit" class="btn btn-outline-dark float-right">Buscar &nbsp;&nbsp;<i class="fas fa-search"></i></button>
                    </form>
                    <div style="display: inline-block; padding-right: 10px; float: right;">
                        <button onclick="verReporte()" class="btn btn-outline-dark float-right">Ver reporte &nbsp;&nbsp;<i class="fas fa-clipboard-list"></i></button>
                    </div>
                    <form action="pdf"  id="frmReporte" hidden method="POST">
                        {% csrf_token %}
                        <input type="text" name="idEstudiante" id="idEstudiante">
                    </form>
                    <br/><br/><br/>
                    {% if estudianteBuscar %}
                        <p><b>Nombre: </b>{{ estudianteBuscar.nombre }} {{ estudianteBuscar.apellido }} ({{ estudianteBuscar.codigo }})</p>
                    {% endif %}
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Descripción</th>
                            <th>Gravedad</th>
                            <th>Fecha</th>
                            <th>Personal</th>
                            <th>Acción</th>
                        </tr>
                        {% if amonestaciones %}
                        {% for amonestacion in amonestaciones %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ amonestacion.falta.descripcion }}</td>
                            <td>{{ amonestacion.falta.tipoFalta.nombre }}</td>
                            <td>{{ amonestacion.fecha }}</td>
                            <td>{{ amonestacion.personal.nombre }} {{ amonestacion.personal.apellido }}</td>
                            <td><a onclick="eliminar({{ amonestacion.idAmonestacion }})" href="#" class="btn btn-outline-dark">Eliminar </a></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}

{% block agregarScript %}
  <!-- Page level plugin JavaScript-->
  <script src="../../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../static/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Demo scripts for this page-->
  <script src="../../static/js/demo/datatables-demo.js"></script>
  <script src="../../static/js/bootstrap-select.min.js"></script>
  <script src="../../static/js/amonestacion/amonestacion.js"></script>
{% endblock %}
