{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
  Administrar personal
{% endblock %}

<!-- incio Bloques para las meta-->
{% block descripcion %}
  Personal del Instituto Cultural de Oxford El Salvador
{% endblock %}

{% block palabrasClave %}
  "Oxford el Salvador, Colegio Oxford, Colegios de San Salvador , San Salvador, Asistencias Oxford"
{% endblock %}

{% block agregarMetas %}
  <meta name="robots" content="follow">
  <meta name="robots" content="index">
  <meta name="googlebot" content="index">
  <meta name="google-site-verification" content="ZhnGANpVN1--eBXiXa_0W4_q1pk-_HmJtN5VnrqYaW4" />
{% endblock %}
<!-- fin Bloques para las meta-->

{% block listaRuta %}
<li class="breadcrumb-item">
  <a href="index.html">Inicio</a>
</li>
<li class="breadcrumb-item active">Personal</li>
{% endblock %}

{% block contenido %}
  <h1>Administrar Personal</h1>
  
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form method="POST" id="frmSeccion" action="agregar">
              {% csrf_token %}
              <!--asignatura, SeccionGrado, personal, hora, dia-->
              <div class="row">
                  <div class="col-md-4">
                        <label for="nombreP">Nombres:</label>
                        <input type="text" class="form-control" id="nombreP" name="nombreP" placeholder="Nombres del personal" autocomplete="off">
                        <br>
                  </div>
                  <div class="col-md-4">
                        <label for="apellidoP">Apellidos:</label>
                        <input type="text" class="form-control" id="apellidoP" name="apellidoP" placeholder="Apellidos del personal" autocomplete="off">
                        <br>
                  </div>
                  <div class="col-md-4">
                        <label for="codigoP">Código:</label>
                        <input type="text" class="form-control" id="codigoP" name="codigoP" placeholder="codigo identificador" autocomplete="off">
                  </div>                
              </div>
              <button type="submit" class="btn btn-dark float-right">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="scope">Código</th>
                  <th class="scope">Nombres</th>
                  <th class="scope">Apellidos</th>                  
                  <th></th>
                </tr>
              </thead>  
              <tbody>
                {% for p in personal%}
                <tr>                    
                    <td>{{p.codigo}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.apellido}}</td>
                    <td>
                        {% if p.estado == 'A' %}
                        <button class="btn btn-outline-dark" onclick="editPnal('{{p.idPersonal}}' ,'{{p.nombre}}' ,'{{p.apellido}}' ,'{{p.codigo}}');" data-toggle="tooltip" data-placement="bottom" title="Editar personal"> <i class="fas fa-edit"></i></button>
                        <button class="btn btn-outline-dark" onclick="elimPnal('{{p.idPersonal}}');" data-toggle="tooltip" data-placement="bottom" title="Eliminar personal"> <i class="far fa-trash-alt"></i></button>
                        <button class="btn btn-outline-dark" onclick="location.href='/horaClase/horarioPersonal/{{p.idPersonal}}'" data-toggle="tooltip" data-placement="bottom" title="Gestionar Horario"> <i class="far fa-calendar-alt"></i></button>
                        {% elif p.estado == 'I' %}
                        <button class="btn btn-outline-dark" onclick="habPnal('{{p.idPersonal}}');" data-toggle="tooltip" data-placement="bottom" title="Habilitar personal"> <i class="fas fa-trash-restore"></i></button>
                        {% endif %}
                    </td>                    
                </tr>
                {%endfor%}
              </tbody>
            </table>
            <div class="float-right">
                <form method="POST" id="frmFiltroSeccion" class="d-none">
                  {% csrf_token %}
                  <input type="text" id="estado" name="estado">
                </form>  
                <a href="#" onclick="filtrarSeccion('A')" class="card-link">Activos</a> <!--Filtrar Seccion A o I-->
                <a href="#" onclick="filtrarSeccion('I')" class="card-link">Inactivos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block agregarScript %}
  <!-- Page level plugin JavaScript-->
  <script src="../../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../static/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Demo scripts for this page-->
  <script src="../../static/js/demo/datatables-demo.js"></script>
  <script src="{% static 'js/personal/personal.js' %}"></script>
{% endblock %}
