{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
  Administrar estudiantes
{% endblock %}

<!-- incio Bloques para las meta-->
{% block descripcion %}
  Estudiantes del Instituto Cultural de Oxford El Salvador
{% endblock %}

{% block palabrasClave %}
  "Oxford el Salvador, Colegio Oxford, Colegios de San Salvador , San Salvador, Estudiantes Oxford"
{% endblock %}

{% block agregarMetas %}
  <meta name="robots" content="follow">
  <meta name="robots" content="index">
  <meta name="googlebot" content="index">
  <meta name="google-site-verification" content="ZhnGANpVN1--eBXiXa_0W4_q1pk-_HmJtN5VnrqYaW4" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
{% endblock %}
<!-- fin Bloques para las meta-->

{% block listaRuta %}
<li class="breadcrumb-item">
  <a href="/index">Inicio</a>
</li>
<li class="breadcrumb-item active">Personal</li>
{% endblock %}

{% block contenido %}
  <h1>Administrar Estudiantes</h1>
  
  <div class="row">
    <div class="col-md-12">
      <!-- Ingresar nuevo estudiante -->
      <div class="card">
        <div class="card-body">
          <form method="POST" id="frmSeccion" action="agregar">
            {% csrf_token %}            
            <div class="row">
              <!-- Nombres -->
              <div class="col-md-6">
                <label for="nombreEstudiante">Nombres:</label>
                <input type="text" class="form-control" id="nombreEstudiante" name="nombreEstudiante" placeholder="Nombres del estudiante" autocomplete="off">
                <br>
              </div>
              <!-- Apellidos -->
              <div class="col-md-6">
                <label for="apellidoEstudiante">Apellidos:</label>
                <input type="text" class="form-control" id="apellidoEstudiante" name="apellidoEstudiante" placeholder="Apellidos del estudiante" autocomplete="off">
                <br>
              </div>
            </div>
            <div class="row">
              <!-- Código identificador -->
              <div class="col-md-6">
                <label for="codigoEstudiante">Código:</label>
                <input type="text" class="form-control" id="codigoEstudiante" name="codigoEstudiante" placeholder="Código identificador" autocomplete="off">
              </div>
              <!-- Sección/Grado -->
              <div class="col-md-6">
                <label for="estudiante" class="col-form-label">Sección/Grado:</label><br>
                <select class="selectpicker" data-live-search="true" id="seccionGrado" name="seccionGrado_id">
                  <option value="0" disabled selected>Seleccione un Sección/Grado</option>
                  {% if seccionGrados %}
                  {% for seccionGrado in seccionGrados %}                   
                  <option value="{{ seccionGrado.idSeccionGrado }}">{{ seccionGrado.grado.nombre }} - {{ seccionGrado.seccion.nombre }}</option>
                  {% endfor %}
                  {% endif %}
                </select>      
              </div>    
            </div>
            <br>
            <!-- Gestión de usuario -->
            <div class="card">
              <div class="card-body">
                <h5>Gestión de usuario - Estudiantes</h5>
                <!-- Clave estudiante -->
                <div class="form-group row">                    
                  <label for="claveEstudiante" id="lblclaveEstudiante" name="lblclaveEstudiante" class="col-md-2 col-form-label">Contraseña:</label>
                  <div class="col-md-10">
                    <input type="password" class="form-control" id="claveEstudiante" name="claveEstudiante" placeholder="Clave del usuario" autocomplete="off">
                  </div>                 
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkCambiar" name="chkCambiar" value="1">
                    <label class="form-check-label" for="chkCambiar" id="LchkCambiar" name="LchkCambiar">Editar contraseña actual</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- Botón Guargar-->
            <button type="submit" class="btn btn-dark float-right">Guardar <i class="far fa-save"></i></button>
          </form>
        </div>
      </div> <!-- Fin nuevo estudiante -->
    </div>

    <!-- Resumen estudiantes -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <!-- Encabezado de tabla -->
            <thead>
              <tr>
                <th class="scope">Código</th>
                <th class="scope">Apellidos</th>
                <th class="scope">Nombres</th>
                <th class="scope">Sección/Grado</th>       
                <th class="scope">Acciones</th>
              </tr>
            </thead>
            <!-- Cuerpo de tabla -->
            <tbody>
              {% for estudiante in estudiantes %}
              <tr>                    
                  <td>{{estudiante.codigo}}</td>
                  <td>{{estudiante.apellido}}</td>
                  <td>{{estudiante.nombre}}</td>
                  <td>{{estudiante.seccionGrado.grado.nombre}} - {{estudiante.seccionGrado.seccion.nombre}}</td>
                  <td>
                    {% if estudiante.estado == 'A' %}
                    <button class="btn btn-outline-dark" onclick="editEstudiante('{{estudiante.idEstudiante}}', '{{estudiante.nombre}}', '{{estudiante.apellido}}', '{{estudiante.codigo}}', '{{estudiante.seccionGrado.idSeccionGrado}}');" data-toggle="tooltip" data-placement="bottom" title="Editar estudiante"> <i class="fas fa-edit"></i></button>
                    <button class="btn btn-outline-dark" onclick="elimEstudiante('{{estudiante.idEstudiante}}');" data-toggle="tooltip" data-placement="bottom" title="Eliminar estudiante"> <i class="far fa-trash-alt"></i></button>
                    <button class="btn btn-outline-dark" onclick="location.href='/horaClase/horarioPersonal/{{p.idPersonal}}'" data-toggle="tooltip" data-placement="bottom" title="Gestionar Horario"> <i class="far fa-calendar-alt"></i></button>
                    {% elif estudiante.estado == 'I' %}
                    <button class="btn btn-outline-dark" onclick="habEstudiante('{{estudiante.idEstudiante}}');" data-toggle="tooltip" data-placement="bottom" title="Habilitar estudiante"> <i class="fas fa-trash-restore"></i></button>
                    {% endif %}
                  </td>                    
              </tr>
              {%endfor%}
            </tbody>
          </table>
          <div class="float-right">
              <form method="POST" id="frmFiltroSeccion" class="d-none">
                {% csrf_token %}
                <input type="text" id="estado" name="estado">
              </form>  
              <a href="#" onclick="filtrarSeccion('A')" class="card-link">Activos</a> <!--Filtrar Seccion A o I-->
              <a href="#" onclick="filtrarSeccion('I')" class="card-link">Inactivos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block agregarScript %}
  <!-- Page level plugin JavaScript-->
  <script src="../../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../static/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Demo scripts for this page-->
  <script src="../../static/js/demo/datatables-demo.js"></script>
  <script src="../../static/js/bootstrap-select.min.js"></script>
  <script src="{% static 'js/estudiante/estudiante.js' %}"></script>
{% endblock %}
