{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
  Administrar Grados
{% endblock %}

<!-- incio Bloques para las meta-->
{% block descripcion %}
  Asistencias del Instituto Cultural de Oxford El Salvador
{% endblock %}

{% block palabrasClave %}
  "Oxford el Salvador, Colegio Oxford, Colegios de San Salvador , San Salvador, Asistencias Oxford"
{% endblock %}

{% block agregarMetas %}
  <meta name="robots" content="follow">
  <meta name="robots" content="index">
  <meta name="googlebot" content="index">
  <meta name="google-site-verification" content="ZhnGANpVN1--eBXiXa_0W4_q1pk-_HmJtN5VnrqYaW4" />
{% endblock %}
<!-- fin Bloques para las meta-->

{% block listaRuta %}
<li class="breadcrumb-item active" >
  <a href="{% url 'index' %}">Inicio</a>
</li>
<li class="breadcrumb-item" > <a href="/grado">Grado </a></li>
{% endblock %}

{% block contenido %}
  <h1>Administrar Grados</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form method="POST" id="frmGrado" action="">
              {% csrf_token %}
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del grado" autocomplete="off">
                <label for="nombre">Nivel:</label>
                <select class="form-control" name="nivel" id = "nivel" autocomplete="off" required>
                  <option  value= "T">Tercer Ciclo</option>
                  <option  value= "B">Bachillerato</option>
                </select>
              </div>
              <button type="submit" class="btn btn-dark float-right">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="scope">Nombre</th>
                  <th class="scope">Nivel</th>
                  <th class="scope">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% if grados %}
                {% for grado in grados %}
                <tr>
                  <td>{{ grado.nombre }}</td>
                  <td>{{ grado.get_nivel_display}}</td>
                  <td>
                    {% if grado.estado == 'A' %}
                    <button class="btn btn-outline-dark" id="btnEditar" onclick="editarGrado('{{ grado.idGrado }}', '{{ grado.nombre }}','{{ grado.nivel }}')" data-toggle="tooltip" data-placement="bottom" title="Editar grado"> <i class="fas fa-edit"></i></button>
                    <button class="btn btn-outline-dark" onclick="eliminarGrado({{ grado.idGrado }})" data-toggle="tooltip" data-placement="bottom" title="Eliminar grado"> <i class="far fa-trash-alt"></i></button>
                    {% elif grado.estado == 'I' %}
                    <button class="btn btn-outline-dark" onclick="habilitarGrado({{ grado.idGrado }})" data-toggle="tooltip" data-placement="bottom" title="Habilitar grado"> <i class="fas fa-trash-restore"></i></button>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
            <div class="float-right">
                <form method="POST" id="frmFiltroGrado" class="d-none">
                  {% csrf_token %}
                  <input type="text" id="estado" name="estado">
                </form>
                <a href="#" onclick="filtrarGrado('A')" class="card-link">Activos</a>
                <a href="#" onclick="filtrarGrado('I')" class="card-link">Inactivos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block agregarScript %}
  <!-- Page level plugin JavaScript-->
  <script src="../../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../../static/vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Demo scripts for this page-->
  <script src="../../static/js/demo/datatables-demo.js"></script>
  <script src="{% static 'js/grado/grado.js' %}"></script>
{% endblock %}
